<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dine ønskesedler</title>
</head>
<body>

<h1>Dine ønskesedler</h1>

<!-- Liste over ønskesedler -->
<ul>
    <li th:each="wishlist : ${wishlists}">
        <span th:text="${wishlist.wishListName}"></span>

        <a th:href="@{'/wishlist/' + ${wishlist.wishListID}}">
            <button>Vis ønskeseddel</button>
        </a>

        <a th:href="@{'/wishlist/' + ${wishlist.wishListID} + '/add-wish'}">
            <button>Tilføj ønske</button>
        </a>
    </li>
</ul>

<table>
    <tr th:each="wishlist : ${wishlists}">
        <td th:text="${wishlist.wishListName}"></td>
        <td>
            <a th:href="@{'/wishlist/delete/' + ${wishlist.getWishListID}}">Delete</a>
        </td>
    </tr>
</table>


<!-- Knap til at oprette ny ønskeseddel -->
<a href="/wishlist/create">
    <button>Opret ny ønskeseddel</button>
</a>

<!-- Knap til at gå tilbage til forsiden -->
<a href="/">
    <button>Til forsiden</button>
</a>

</body>
</html>
